certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
ContrailCA==0.4.0
crypto-cookie==0.3.1
cryptography==3.2.1
-e git+https://github.com/cedadev/dj-security-middleware.git@a274146198848db1684c366400d57376509b52d9#egg=dj_security_middleware
django==2.2.17
django-bootstrap3==14.2.0
django-classy-tags==2.0.0
django-cookie-law==2.0.4
django-oauth-toolkit==1.3.3
# Order is important in this file - django-settings object must appear before django-onlineca and dot-restrict-scopes
-e git+https://github.com/cedadev/django-settings-object.git@01351828ae73cea07404de0a38d5d868ecb75b59#egg=django_settings_object
-e git+https://github.com/cedadev/django-onlineca.git@3d41f51e31d45938e17ff4a1086f58631b74473e#egg=django_onlineca
-e git+https://github.com/cedadev/dot-restrict-scopes.git@19a4327437c1718bd255772d86aa1f09e5851f9a#egg=dot_restrict_scopes
-e git+https://github.com/cedadev/fwtheme-django.git@38bd08d6572fe5f17ab02a3fc420a63d651b97e7#egg=fwtheme_django
-e git+https://github.com/cedadev/fwtheme-django-ceda-serv.git@c3d1d9ebe6c0fac4ac285f47e5387ec9f2ebed02#egg=fwtheme_django_ceda_serv
idna==2.10
importlib-metadata==1.7.0
oauthlib==3.1.0
psycopg2-binary==2.8.6
pycparser==2.20
pyOpenSSL==19.1.0
pytest-runner==5.2
pytz==2020.4
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
-e git+https://gitlab+deploy-token-1:sKsnsW2XMsbsbZRxM7DD@breezy.badc.rl.ac.uk/mpryor/userdb-model.git@981b70a67a58ebe6ddfaf3c00d38b5e4a3a06c25#egg=userdb_model
zipp==3.4.0
