{% extends "base.html" %}

{% block content %}
{% if form.errors %}
    <ul class="messages" style="color: #FF0000;">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% else %}
            <li>Username and/or password is incorrect</li>
        {% endif %}
    </ul>
{% endif %}

<div id="login">
	<h4>Site login</h4>
    <div>
        Please login with your CEDA (BADC/NEODC) user account details
        <p>&nbsp;</p>
        <form id="auth_form" name="auth_form" action="" method="post">
		    {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <table border="0">
                <tr>
                    <td class="field_name">
                        <span class="required label">Username:</span>
                    </td>
  				    <td class="input_value">
                        <input id="id_username" type="text" name="username" maxlength="30" tabindex="1" required />
                    </td>
                    <td style="text-align: left; padding: 0px 0px 0px 20px;">
                        <a href="https://services.ceda.ac.uk/cedasite/register">Register for an account</a>
                    </td>
                </tr>
                <tr>
                    <td class="field_name">
                        <span class="required label">Password:</span>
                    </td>
                    <td class="input_value">
                        <input type="password" name="password" id="id_password" tabindex="2" required />
                    </td>
                    <td style="text-align: left; padding: 0px 0px 0px 20px;">
                        <a href="https://services.ceda.ac.uk/dj_security/reset_passwd/">Forgot your password?</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: left; padding: 0px 0px 0px 0px;">
                        <div class="submit-row"><input type="submit" name="blogin" value="Sign in"></div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="messages">
    Problems logging on? Contact <a href="http://www.ceda.ac.uk/contact">CEDA</a> support for help
</div>
{% endblock %}
