/**
 * OAuth server-specific CSS tweaks
 */

.content-panel {
    font-size: 1.1em;
    font-family: Verdana,Arial,sans-serif;
    color: #222;
    line-height: 1.3;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.content-panel > h4 {
    padding: .5em .5em .5em .7em;
    border-bottom: 1px solid #aaa;
}
.content-panel > div {
    padding: 1em 2.2em;
}
.content-panel > div input {
    font-size: 1em;
}
div#login > div td {
    padding: 4px 0;
}
div#login > div span.label {
    padding: 10px;
}
div#authorize ul.scopes {
    margin: 10px 0;
    padding-left: 25px;
}
div#authorize ul.scopes > li {
    padding: 5px 0;
    list-style: disc;
}
div#authorize > div input[type="submit"] {
    font-size: 1.2em;
}

.messages {
    font-family: Verdana,Arial,sans-serif;
    padding: 0 0 20px;
}
